
.open-sans-normal> {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
 
/* shared style*/
.secondary-bg{
    background-color: aliceblue;
}
.text-primary{
 color: coral;
}
.dark-2{
    color: #1d1c1c;
}
.btn-primary{
    background-color:coral;
    font-weight:  bold;
    font-size: 20px;
    color: aliceblue;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
}
.section-title{
    front size: 35;
    front weight:bold;
    color: #1d1c1c ;

}
.section-description{
    front size: 18px;
    color: aliceblue;
}

/* header*/

.header{
    background-image: url(../image/developer.png), url(../image/images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}
/* Nav style */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;
}
.nav-title{
    front width: 800;
    font-size: 45;

   
}
nav ul  {
    display: flex;
    align-items: center;
   
}
nav ul li {
    list-style: none;
     margin-right: 50px;

}
nav li a {
    text-decoration: none;
    font-size: 20px;
    
}
/* banner style */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 230px;
}
.banner-content{
    max-width: 580px;
}
.banner-greetings{
    front-size: 45px;
    front width: 600px;
}
.banner-title{
    front width:  bold;
    front size: 85px;
}
.banner-profile-pic{
    width: 580;
}
 /* about style*/
 main{
 max-width: 1140px;
 margin: 0 auto;
}

/* about style*/
.about{
boder-radius: 10px;
padding:130px 150px;
text-align: center;
margin-top: 130px;
}
.about-items{
    display: flex;
    justify-content: space-around;
}
.item-description{
    front font-weight:600 ;
}